footer
  .container.text-center
    p.pull-left © 2020 Niña Gato.
    a.github-button.float-right(href="https://github.com/CristianG540/coordinadora-scraping-1", data-icon="octicon-star", data-show-count="true", aria-label="Star CristianG540/coordinadora-scraping-1 on GitHub") Star
