extends layout

block content
  h1 Dummy home pafe
  p.lead Is this fine?.
  hr
  .row
    .col-sm-6
      img(src="/images/this-is-fine.png", alt="This is fine")
    .col-sm-6
      img(src="/images/this-is-fine.png", alt="This is fine")
    .col-sm-6
      img(src="/images/this-is-fine.png", alt="This is fine")
    .col-sm-6
      img(src="/images/this-is-fine.png", alt="This is fine")
